<section class="content-header">
    <h1>
        Products Category
        <small>Add</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-bars"></i> Products</a></li>
        <li><a href="#">Products Category</a></li>
        <li class="active">Add</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Add Product Category</h3>
                     <!--<div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>-->
                </div><!-- /.box-header -->
                <form role="form" ng-if="login.loggedIn" method="post" ng-submit="products.AddProduct()" class="frm-product">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="ProductName">Product Name</label>
                                    <input type="text" class="form-control" ng-model="products.productdata.ProductName" id="ProductName" placeholder="Product Name">
                                </div>
                                <div class="col-sm-6">
                                        <label>For Male/Female</label>
                                      <select class="form-control" name="Gender" id="Gender" ng-model="products.productdata.ForGender">
                                        <option value="">---Please select---</option> <!-- not selected / blank option -->
                                        <option value="M">Male</option> <!-- interpolation -->
                                        <option value="F">Female</option>
                                      </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="ProductPrice">Product Price</label>
                                    <input type="text" class="form-control" numbers-only ng-keydown="filter()" ng-keyup="update()" ng-blur="updated()" maxlength="5" ng-model="products.productdata.Price" id="ProductPrice" placeholder="Product Price">
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
      <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Product Category List</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
          
        <div class="box-body">
            
          <table id="example2" class="table table-bordered table-hover">
              <thead>
            <tr>
                <th>No.</th>
                <th>Product Name</th>
                <th>Products For</th>
                <th>Product Price (Rs.)</th>
            </tr>
              </thead>
              <tbody>
            <tr ng-repeat="product in products.productdtls">
                <!--<td style="display:none;">{{user._id}}</td>-->
                <td>1</td>
                <td>{{product.ProductName}}</td>
                <td>{{product.ForGender}}</td>
                <td>{{product.Price}}</td>
            </tr>
                  </tbody>
          </table>
        </div><!-- /.box-body -->
          
      </div><!-- /.box -->
    </div>
  </div>

    
</section>