<section class="content-header">
          <h1>
            Product
            <small>Product Category Delete/Update</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-bars"></i> Product</a></li>
            <li class="active">Product Category</li>
          </ol>
        </section>
<section class="content">
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Product Category Delete/Update</h3>
          <!--<div class="box-tools">
            <div class="input-group" style="width: 150px;">
              <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>-->
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
              <thead>
            <tr>
                <th>No.</th>
                <th>Product Name</th>
                <th>Products For</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
              </thead>
              <tbody>
            <tr ng-repeat="product in products.productdtls">
                <!--<td style="display:none;">{{user._id}}</td>-->
                <td>1</td>
                <td>{{product.ProductName}}</td>
                <td>{{product.ForGender}}</td>
                <td><button type="submit" class="btn btn-success" ng-click="deleteUser.UpdatePage(user._id)">Edit</button></td>
                <td><button type="submit" class="btn btn-success" ng-click="deleteUser.DeleteUser(user._id)">Delete</button></td>
            </tr>
                  </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div>
</section>