<section class="content-header">
          <h1>
            Product
            <small>Product Back Style List</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-bars"></i> Product</a></li>
            <li class="active">Product Back Style</li>
          </ol>
        </section>
<section class="content">
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Product Back Style List</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="BackStyleProductList" class="table table-bordered table-hover">
              <thead>
            <tr>
                <th style="display:none;">_id</th>
                <th>No.</th>
                <th>Front Style Type</th>
                <th>Back Style Type</th>
                <th>Image Path</th>
            </tr>
              </thead>
              <tbody>
            <tr ng-repeat="product in productsBack.productBackdtls">
                <td style="display:none;">{{product._id}}</td>
                <td>1</td>                      
                <td>{{product.FrontStyleID.FrontStyleType}}</td>
                <td>{{product.BackTypeStyle}}</td>
                <td>{{product.ImagePath}}</td>
            </tr>
                  </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div>
</section>